body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmgQxQwcN-Rsc3nNpXgv6dMsvmR6MWmoTKx8QKY1fm&s');
}


.centrar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.columna1{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: rgb(95, 95, 95);
    border-radius: 25px;
    align-self: center;
    margin-left: 30px;
    box-shadow:
    inset 0 -3em 3em rgba(255, 255, 255, 0.1),
          0 0  0 2px rgb(135, 134, 134),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    line-height: 20px;
    color: white;
}
.columna2{
    background-image: url('https://avatars.githubusercontent.com/u/104170313?v=4');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
    order: 1;
    animation: foto-perfil 8s ease-in-out infinite 1s;
    width: 300px;
    height: 300px;
    justify-self: center;
    background-size: contain;
    align-items: center;
    position: relative;
    top: 150px;
    filter: grayscale(100%);
}
@keyframes foto-perfil {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}